body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: #313131;
}

.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

/*Header*/
.page-header {
    font-size: 50px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    border: 2px solid #337AB7;
    background-color: #313131;
}

    .page-header h1 {
        font-family: 'Playball', cursive;
        font-weight: bold;
        font-size: 70px;
        margin-top: 0px;
        
    }

    .page-header h3 {
        font-family: 'Shadows Into Light Two', cursive;
        color: #dcba00;
    }
    
    /*Changing the link look*/
    .page-header a{
        color: #cc5800;
        text-decoration: none;
    }

/*Navbar*/
.navbar-inverse {
    background-color: #313131;
}

    .navbar-inverse #no-side-margin {
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar-inverse .navbar-brand {
        font-family: 'Playball', cursive;
        font-weight: bold;
        font-size: 28px;
        color: #cc5800;
        text-decoration: none;
    }

    .navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-btn {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-inverse .navbar-toggle {
    border-color: #FFFFFF;
}

    /*Navbar Button Hover*/
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #000000;
    background-color: #808080;
}

/*Review Page Styling*/
.reviews{
    font-family: 'Shadows Into Light Two', cursive;
    color: #FFFFFF;
    text-align: center;
}

/*Reviews page header*/
.container .reviews h2{
    font-size: 60px;
    color: #535353;
    font-weight: bolder;
    border: 2px solid white;
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.container .reviews .btn{
    font-size: 24px;
    background-color: #535353;
    color: cadetblue;
    border-radius: 0px;
    font-family: 'Handlee', cursive;
    font-weight: bolder;
}

/*Changing thumbnail content*/
.thumbnail{
    background-color: #535353;
    height: 330px;
    border-radius: 0px;
    border-color: #069b00;
}

.thumbnail h3{
        color: #dcba00;
        font-size: 26px;
        text-align: center;
        font-weight: bolder;
}

.thumbnail p{
    color: #ff6363;
    font-weight: bold;  
    font-size: 20px;
}

.thumbnail .btn{
    border-radius: 0px;
    background-color: #313131;
    color: cadetblue;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Handlee', cursive;
}


/*RenderBody section*/
.container h2{
    color: #FFFFFF;
}

/*changing text color on Create Review page*/
.create{
    color: #FFFFFF;
}

    /*Making the Review box larger*/
#DetailedReview{
        max-width: 100%;
}


    /*Footer*/
    footer{
        font-family: 'Shadows Into Light Two', cursive;
        color: #dcba00;
        font-size: 20px;
    }


    /*About Page*/
    .about, .contact{
        color: #FFFFFF;
        font-family: 'Shadows Into Light Two', cursive;
        text-align: center;
        max-width: 600px;
    }

    .about h1, .contact h1{
        color: #BBB500;
    }