<div class="row about">
    <div class="col-lg-12 col-md-12">
        @{
            ViewBag.Title = "About Humble Travel Reviews";
        }
        <h1>@ViewBag.Title</h1>
        <h2>@ViewBag.Message</h2>

        <br />
        <h4>Check out all of our Reviews on the review page.</h4>
        <h4>We have had many historical figures review different places for us!</h4>
    </div>
</div>