<div class="contact">
    @{
        ViewBag.Title = "Contact Us";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        200 Public Sq<br />
        Cleveland, OH 44113<br />
        <abbr title="Phone">P:</abbr>
        216.555.1234
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@htr.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@htr.com</a>
    </address>
</div>