@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Our Reviews Are So Humble</h1>
    <p>But if you'd like to read about something completely different, just click below.</p>
    <p>
        <a href="https://en.wikipedia.org/wiki/Special:Random" class="btn btn-primary btn-lg">&bull;We Even Have Buttons&bull;</a>
        <a href="https://www.yelp.com" class="btn btn-danger btn-lg">&Omega;Check Out a Real Review Site&Omega;</a>
        <a href="http://www.clevelandmetroparks.com/Main/Donate.aspx" class="btn btn-success btn-lg">&hearts;Donate to the CLE Metroparks&hearts;</a>
    </p>
</div>